<div id="main-container" class="container-fluid">

        <div class="row">
            <h1>Points: {{$ctrl.points}}</h1>
        </div>
        <div class="row text-center">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="cabinet col-sm-3" ng-repeat="box in $ctrl.cupboard track by $index" ng-show="!$ctrl.victory">
                    <div class="box" ng-class="{'flipped':card.show}" ng-click="$ctrl.selectBox(box)">
                        <div class="face front">
                            <img src="assets/img/cards/dwarf-face.png" style="background-color: white;" height="120" alt="Logo">
                            <h3>Dwarf Match</h3>
                        </div>
                        <div class="face back" ng-class="{'pair': card.paired}">
                            <h3>{{card.title}}</h3>
                            <img ng-src="{{card.url}}" height="80" alt="{{card.title}}">
                        </div>
                    </div>
                </div>

                <div>
                    <h1>You are victorious, However it took you a ridiculous {{$ctrl.attempts}} attempts to win. Perhaps you should focus on your memory rather than drinking <a href="http://freedrinkpubs.co.uk/register" target="_blank">Claim your free Pint</a></h1>
                </div>

            </div>
        </div>
    </div>

    <div id="main-container" class="container-fluid">
        <section id="cupboard">
            <ul id="shelves">
                <li class="boxes">
                </li>
            </ul>
        </section>
    </div>