#main-container{
 background:grey url('app/img/Pop-UpDevil-BG.jpg') center center no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    height: 100%;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-right: -15px;
    margin-left: -15px;
}

header{
    background-color: #0a0b0d;
    margin-top:0;
    margin-bottom:1px;
    margin-right:-15px;
   height: 130px;
    text-align:center;
    
}
#title h1{
    color: white;
    margin-top: 15px;
    margin-bottom:0px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-family: 'Covered By Your Grace', cursive;
   font-weight: 100px;
   font-size: 60px;
}
#title h4{
    color: grey;
    margin-top: 15px;
    margin-bottom:0px;
    margin-left: 30px;
    /*padding-top: 10px;*/

     font-family: 'Covered By Your Grace', cursive;

   font-weight: 100px;
}
li{
    padding-top:20px;
    font-family: 'Antic Slab', serif;
    color: black;
}
.main-content{
    text-align:center;
  
}
#signature{
      font-family: 'Dancing Script', cursive;
        /*font-family: 'Mrs Saint Delafield', cursive;*/
        color: lightgrey;
        margin-top: 0px;
        margin-bottom: -15px;
        padding-bottom: 0px;
}
#signiture h2{
    margin-bottom:0px;
    padding-bottom: 10px;
}
h2 span{
        font-family: 'Mrs Saint Delafield', cursive;
        /*font-family: 'Dancing Script', cursive;*/
        color: lightgrey;
        font-size:100px;
        margin-bottom:0px;
        padding-bottom:0px;
        /*margin-top: 15px;
        margin-bottom: 0px;
        padding-bottom:0;*/
}
#main-container{
    position: absolute;
    background-color:red;
    width: 790px;
   left:350px;
   top: 100px;
}

#cupboard{
    width: 100%;
    height:100%;
    top: 1%;
    left: 5%;
    position: absolute;
     margin-left:-15px;
    margin-right:-15px;
     padding: 0 0 10 0;
    background: url('/img/boxes/BW1.png') center center no-repeat;
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s; 
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes blink{
    0%   {  background: url('/img/boxes/BW1.png')  no-repeat;}
    25%  {  background: url('/img/boxes/BW2.png') no-repeat;}
    50%  {  background: url('/img/boxes/BW3.png')  no-repeat;}
    100% {  background: url('/img/boxes/BW4.png') no-repeat;}
}
@keyframes blink{
    0%   {  background: url('/img/boxes/BW1.png') no-repeat;}
    25%  {  background: url('/img/boxes/BW2.png') no-repeat;}
    50%  {  background: url('/img/boxes/BW3.png')  no-repeat;}
    100% {  background: url('/img/boxes/BW4.png')  no-repeat;}
}